<h1><%= @article.name %></h1>

<h8>By <% @article.users.each do |name| %>
<%= name.name %>
<% end %>
</h8>

<h3><%= @article.content %></h3>

<h4>Tags: </h4>
<% @article.tags.each do |tag| %>
  <ul>
    <li><%= tag.topic %></li>
  </ul>
<% end %>

<a href="/articles/<%=@article.id%>/edit">Edit your article</a>

<form action="/article/delete/<%= @article.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Article</button>
</form>

<%if @article.revision_description.present? %>
  <h3>This article has <%=@article.revisions.length - 1%> revision(s).</h3>
<%else%>
  <h3>There are no current revisions.</h3>
<%end%>
