<h1 class="transparent"><%= @article.name %></h1>

<h8 class="transparent">By <% @article.users.each do |name| %>
<%= name.name %>
<% end %>
</h8>

<h3 class="transparent"><%= @article.content %></h3>

<h4 class="transparent" font-family="Josefin Slab">Tags: </h4>
<% @article.tags.each do |tag| %>
  <ul>
    <li><%= tag.topic %></li>
  </ul>
<% end %>

<a href="/articles/<%=@article.id%>/edit"><h3 class="transparent">Edit your article</h3></a>

<form action="/article/delete/<%= @article.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Article</button>
</form>

<%if @revisions%>
  <h3 class="transparent">This article has <%=@revisions.length%> version(s):</h3>
  <ol>
    <% @revisions.each do |revision| %>
      <li>
        <a href="/articles/<%=revision.id%>"><%= revision.revision_description %></a>
      </li>
    <% end %>
  </ol>
<%else%>
  <h3 class="transparent">There are no current revisions.</h3>
<%end%>
